/* color Orinoco */
.bg-pink{background-color: #F3E9F1;}
.txt-pink{color: #F3E9F1;}
.bg-orange{background-color: #E78B07;}
.txt-orange{color: #E78B07;}
.bg-purple{background-color: #8F5BFE;}
.txt-purple{color: #8F5BFE;}

/* h */
h1{font-size: 2rem;color: #8F5BFE;}
h2{font-size: 1.5rem;padding-top: 10px;}

/* font */
body{font-family: 'Nunito', sans-serif;}

/* CSS */
#appareils{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.smallCard{
    min-width: 200px;
    max-width: 300px;
    border: 2px solid #E78B07;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
.imgSmall{
    width: 100%;
}

.imgBig{
    width: 600px;
}

td{
    width:150px;
}
thead{
    color: #E78B07;
}

.labelform{
    width: 120px;
    
}